@page "/"

<PageTitle>Index</PageTitle>

<SurveyPrompt Title="How is Blazor working for you?" />

<main class="flex-shrink-0">
    <!-- Navigation-->
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">A Bootstrap 5 template for modern businesses</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..."></div>
            </div>
        </div>
    </header>

    <!-- CV -->
    <section>
        <MudTimeline>
            <MudTimelineItem Color="Color.Info" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Info" Typo="Typo.h5">1970</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">Atom Towns</MudText>
                    <MudText>Construction of the town of Pripyat, one of 9 “atom towns” begins, to be inhabited by future employees of the nuclear power plants.</MudText>
                </ItemContent>
            </MudTimelineItem>
            <MudTimelineItem Color="Color.Success" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Success" Typo="Typo.h5">1977</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Operational</MudText>
                    <MudText>The first of the Chernobyl Nuclear Power Plants four reactors is ready to operate followed by number 2 in 1978.</MudText>
                </ItemContent>
            </MudTimelineItem>
            <MudTimelineItem Color="Color.Error" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Error" Typo="Typo.h5">1979</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Error" Typo="Typo.h6" GutterBottom="true">Pripyat</MudText>
                    <MudText>Pripyat officially proclaimed as a city.<br />The Chernobyl Atomic Power Station reaches its first 10 billion kilowatt-hours of electical output.</MudText>
                </ItemContent>
            </MudTimelineItem>
        </MudTimeline>
    </section>



    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Work</h1>
                <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
            </div>
            <div class="row gx-5">
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="...">
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="...">
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mb-5 mb-lg-0">
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="...">
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="...">
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-lg btn-primary" href="contact">Contact us</a>
        </div>
    </section>




  
   

</main>




